# Build
build/
build-*/
cmake-build-*/

# Qt Creator
*.pro.user
*.pro.user.*
*.user

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Visual Studio
.vs/
*.vcxproj.user

# Qt moc/uic/rcc
moc_*
ui_*.h
qrc_*.cpp

# OS
.DS_Store
Thumbs.db